<div class="row">
    <div class="col-xs-12">
        <!--top line in blue-->
        <p>Add new Server or Blueprints!</p>
        <!--two input field wit label-->
        <label>Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="newServerName">    <!--two way binding-->

        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent"> <!--two way binding-->
        
        <label>locally referenced var</label> <!--an input field whoes data directly goes as an parameter to the method-->
        <input type="text" class="form-control" #localRefVar> <!--two way binding-->

        <label>following input  variable reach to the consol using viewChild approach</label> <!--an input field whoes data directly goes as an parameter to the method-->
        <input type="text" class="form-control" #viewChildVar> <!--two way binding-->

        <br>
        <!--two buttons-->
        <button
            class="btn btn-primary"
            (click)="onAddServer()">    <!--event binding-->
            Add Server
        </button> 
        
        <button
            class="btn btn-primary"
            (click)="onAddBlueprint()">   <!--event binding-->
            Add Server Blueprint
        </button> 
        
        <button
        class="btn btn-primary"
        (click)="sendLocalref(localRefVar)">   <!--event binding--> <!--data localRefVar is the referece of the input field-->
        verfy local ref.
        </button> 

        <button
        class="btn btn-primary"
        (click)="showValOfViewChildData()">   <!--event binding--> <!--viewChild triggered by this button-->
        verify vewChild()
        </button> 
        

    </div>
</div>

