<div class="container">
  <div class="row">
    <div class="col-md-7">

      <app-cockpit 
        (serverCreated)="onServerAdded($event)"
        (blueprintCreated)="onBlueprintAdded($event)"
        ></app-cockpit>
      <hr>

      <app-server-element *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement">

          <!--follwing section will be rendered inside the app-server-element.html-->
          <!--using ng-content directive-->
          <p> <!--this section was previously in server-element.component.html-->
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong> <!--string interpolation-->
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em> <!--string interpolation-->
          </p>
      
      </app-server-element>

  </div>


  </div>
</div>  


<!--what is going on here?-->
<!--app.component.html-->
<!--in this html file the serverElement array from app.component.ts is being displayed-->

<!--due to effect of @input() decorator now element is available outside its respective component-->
